    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
    }

    #thingOnTop {
      position: fixed;
      top: 0px;
      right: 0px;
      width: 100vw;
      height: 50px;
      background-color: #000000;
      opacity: 0.8;
      z-index: 20;     
    }
